# Python
__pycache__/
.env
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.env/

# IDE
.vscode/
.idea/

# logs
*.log
logs/

# cache
.cache/
.pytest_cache/
.mypy_cache/
.ruff_cache/
